<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Sobre a Laser Smile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding> 
  <div class="divImg">
    <img src="../../assets/imagens/logo.png" />
  </div>  
  <p class="descricao">
    Atuando na área de Laser e LEDs há 15 anos, a Laser Smile projeta no mercado equipamentos optoeletrônicos de alta precisão.
    Fundada na cidade de Taubaté/SP, sempre manteve o propósito de constante desenvolvimento de novas tecnologias para a odontologia, medicina e estética, 
    se destacando entre as mais importantes empresas do segmento.
    <br><br>
    <strong>Inovação</strong> - Comprometida com a ciência e inovação, a Laser Smile desenvolve e produz em seu laboratório, 100% de seus equipamentos, com precisão, estudos e aferições constantes.
    <br><br>
    <strong>Certificados </strong> - A Laser Smile possui constante compromisso com a segurança e a qualidade dos seus produtos. Toda sua produção é devidamente certificada pelos órgãos responsáveis.
    <br><br>
    <strong>Parcerias  </strong> - Ciente da importância de unir forças com os melhores do segmento, a Laser Smile possui inúmeras parcerias com institutos, pesquisadores e profissionais atuantes renomados no mercado, se atualizando e gerando melhoria contínua à sua produção.
  </p>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin-bottom: 10px; margin-right: 10px;">
    <ion-fab-button color="danger" (click)="goFone()">
      <ion-icon name="call"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
