<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Produtos Quick Smile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slides pager="true">
    <ion-slide>
      <h4 class="titulo">Kit Clareamento Laranja 35%</h4>
      <img src="../../assets/imagens/kits/laranja.png" />
      <p class="descricao">
        LASER SMILE é um sistema de clareamento dental em consultório indicado para o clareamento de dentes vitalizados e desvitalizados.
        <br> O kit contém um gel de peróxido de hidrogênio a 35% laranja que absorve a luz emitida por luzes vermelhas potencializando
        o clareamento.
        <br> O sistema de clareamento dental LASER SMILE é composto por dois frascos, (Ativador Laranja e Solução de Peróxido
        de Hidrogênio 35%), cujas soluções devem ser misturadas antes do uso, assegurando a obtenção de um gel altamente
        reativo a cada aplicação com pH neutro.
        <br> O kit possui também uma barreira gengival fotopolimerizável e uma solução neutralizadora à base de bicarbonato de
        sódio a 8%.
      </p>
      <ion-button expand="block" style="width: 50%; margin: auto" color="danger">Mais Informações</ion-button>
    </ion-slide>

    <ion-slide>
        <h4 class="titulo">Kit Clareamento Laranja 15%</h4>
        <img src="../../assets/imagens/kits/laranja.png" />
        <p class="descricao">
          LASER SMILE é um sistema de clareamento dental em consultório indicado para o clareamento de dentes vitalizados e desvitalizados.
          <br> O kit contém um gel de peróxido de hidrogênio a 15% laranja que absorve a luz emitida por luzes vermelhas potencializando
          o clareamento.
          <br> O sistema de clareamento dental LASER SMILE é composto por dois frascos, (Ativador Laranja e Solução de Peróxido
          de Hidrogênio 15%), cujas soluções devem ser misturadas antes do uso, assegurando a obtenção de um gel altamente
          reativo a cada aplicação com pH neutro.
          <br> O kit possui também uma barreira gengival fotopolimerizável e uma solução neutralizadora à base de bicarbonato de
          sódio a 8%.
        </p>
        <ion-button expand="block" style="width: 50%; margin: auto" color="danger">Mais Informações</ion-button>
      </ion-slide>

    <ion-slide>
      <h4 class="titulo">Kit Clareamento Verde 35%</h4>
      <img src="../../assets/imagens/kits/verde.png" />
      <p class="descricao">
        LASER SMILE é um sistema de clareamento dental em consultório indicado para o clareamento de dentes vitalizados e desvitalizados.
        <br> O kit contém um gel de peróxido de hidrogênio a 35% verde que absorve a luz emitida por luzes vermelhas potencializando
        o clareamento.
        <br> O sistema de clareamento dental LASER SMILE é composto por dois frascos, (Ativador Verde e Solução de Peróxido de
        Hidrogênio 35%), soluções devem ser misturadas antes do uso, assegurando a obtenção de um gel altamente reativo a
        cada aplicação com pH neutro.
        <br> O kit possui também uma barreira gengival fotopolimerizável e uma solução neutralizadora à base de bicarbonato de
        sódio a 8%.
      </p>
      <ion-button expand="block" style="width: 50%; margin: auto" color="danger">Mais Informações</ion-button>
    </ion-slide>

    <ion-slide>
        <h4 class="titulo">Kit Clareamento Verde 15%</h4>
        <img src="../../assets/imagens/kits/verde.png" />
        <p class="descricao">
          LASER SMILE é um sistema de clareamento dental em consultório indicado para o clareamento de dentes vitalizados e desvitalizados.
          <br> O kit contém um gel de peróxido de hidrogênio a 15% verde que absorve a luz emitida por luzes vermelhas potencializando
          o clareamento.
          <br> O sistema de clareamento dental LASER SMILE é composto por dois frascos, (Ativador Verde e Solução de Peróxido de
          Hidrogênio 15%), soluções devem ser misturadas antes do uso, assegurando a obtenção de um gel altamente reativo a
          cada aplicação com pH neutro.
          <br> O kit possui também uma barreira gengival fotopolimerizável e uma solução neutralizadora à base de bicarbonato de
          sódio a 8%.
        </p>
        <ion-button expand="block" style="width: 50%; margin: auto" color="danger">Mais Informações</ion-button>
      </ion-slide>
  
    <ion-slide>
      <h4 class="titulo">Kit Clareamento Transparente 35%</h4>
      <img src="../../assets/imagens/kits/transparente.png" />
      <p class="descricao">
        LASER SMILE é um sistema de clareamento dental em consultório indicado para o clareamento de dentes vitalizados e desvitalizados.
        <br> O kit contém um gel de peróxido de hidrogênio a 35% transparente que absorve a luz emitida por luzes vermelhas potencializando
        o clareamento.
        <br> O sistema de clareamento dental LASER SMILE é composto por dois frascos, (Ativador Transparente e Solução de Peróxido de
        Hidrogênio 35%), soluções devem ser misturadas antes do uso, assegurando a obtenção de um gel altamente reativo a
        cada aplicação com pH neutro.
        <br> O kit possui também uma barreira gengival fotopolimerizável e uma solução neutralizadora à base de bicarbonato de
        sódio a 8%.
      </p>
      <ion-button expand="block" style="width: 50%; margin: auto" color="danger">Mais Informações</ion-button>
    </ion-slide>

    <ion-slide>
      <h4 class="titulo">Kit Clareamento Transparente 15%</h4>
      <img src="../../assets/imagens/kits/transparente.png" />
      <p class="descricao">
        LASER SMILE é um sistema de clareamento dental em consultório indicado para o clareamento de dentes vitalizados e desvitalizados.
        <br> O kit contém um gel de peróxido de hidrogênio a 15% transparente que absorve a luz emitida por luzes vermelhas potencializando
        o clareamento.
        <br> O sistema de clareamento dental LASER SMILE é composto por dois frascos, (Ativador Transparente e Solução de Peróxido de
        Hidrogênio 15%), soluções devem ser misturadas antes do uso, assegurando a obtenção de um gel altamente reativo a
        cada aplicação com pH neutro.
        <br> O kit possui também uma barreira gengival fotopolimerizável e uma solução neutralizadora à base de bicarbonato de
        sódio a 8%.
      </p>
      <ion-button expand="block" style="width: 50%; margin: auto" color="danger">Mais Informações</ion-button>
    </ion-slide>
    
    <ion-slide>
      <h5 class="titulo">Barreira Gengival</h5>
        <img src="../../assets/imagens/barreiraGengival.png" />
      <p class="descricao">
        Barreira gengival substitui o lençol de borracha quando o isolamento da gengiva e tecidos moles.<br>
        Protege os tecidos moles (gengiva) do contato com produtos que possam irritar a região ou causar desconforto, a exemplo do peróxido de hidrogênio (gel clareador).<br>
        Age de forma a evitar desconforto e irritações na gengiva, garantindo um melhor desempenho no tratamento de clareamento dental.<br>
        A sua exclusiva fórmula possui excelente viscosidade e não escorre, facilitando a aplicação nas gengivas.<br>
        Excelente aderência no tecido gengival. Fácil aplicação e fácil remoção. Fotopolimerizável em 20 a 30 segundos.<br>
        Possui pigmentos na cor azul, facilitando visualização da área a ser encoberta pelo gel.
      </p>
      <ion-button expand="block" style="width: 50%; margin: auto" color="danger">Mais Informações</ion-button>
    </ion-slide>

    <ion-slide>
        <h5 class="titulo">Quick Smile Pincel</h5>
          <img src="../../assets/imagens/pincel.png" />
        <p class="descricao">
          Produto home care para potencialização de clareamento. Peróxido de hidrogênio 7,5%.
        </p>
        <ion-button expand="block" style="width: 50%; margin: auto" color="danger">Mais Informações</ion-button>
      </ion-slide>



  </ion-slides>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin-bottom: 10px; margin-right: 10px;">
    <ion-fab-button color="danger" (click)="goFone()">
      <ion-icon name="call"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>