<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Protocolos de Uso
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding> 
    <h5 class="titulo">Olá.. seja bem vindo!</h5>
    <p class="descricao" style="text-align: justify">Conheça os protocolos de uso dos equipamentos LASER SMILE.</p>
    
    <br>
  
    <img style="border: 1px solid #e27600" (click)="goProtocoloOdonto()" src="../../assets/imagens/bannerLaserSmileOdonto.jpg" />
  
  
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin-bottom: 10px; margin-right: 10px;">
      <ion-fab-button color="danger" (click)="goFone()">
        <ion-icon name="call"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  
  </ion-content>
  