
  
  ion-header {
    ion-toolbar{
    --background: #e27600;
      max-height: 50px;
    }
  
    ion-toolbar ion-title {
      font-size: 1em;
      color: #111;
      margin-top:-5px;
      margin-left: -15px;
    }
  
    ion-toolbar ion-buttons{
      color: #111;
      margin-top:-5px;
    }
  }
  
  ion-content {
    --background: #fcf5f0;
  }
  
  ion-list{
    background: transparent !important;
    margin-left: -15px;
  }
  
  ion-item {
    --background: transparent !important;
    font-size: 0.8em;
    
  }

  ion-item ion-label{
    font-family: 'Quicksand', sans-serif;
    font-size: 0.8em;
  }
  
  ion-col{
      font-size: 0.8em;
      border: 1px solid #CCC;
  }
  .titulo{
    font-weight: bolder;
  }
  
  .descricao{
    font-size: 13px;
    text-align: justify;
  }

  .divImg {
    position: relative;
    margin: auto;
    border-radius: 8px;
    max-width: 90%;
  }

  .divImg img{   
    border-radius: 8px;
  }